<h1 class="visually-hidden">RuneScape Classic, built with Marko</h1>
<game-client/>

<style>
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }
</style>
