class {
  onInput() {
    this.state = { checked: true };
  }

  handleCheckboxToggle() {
    this.state.checked = !this.state.checked;
  }
}

<h1>Is checked: ${state.checked}</h1>

<app-checkbox
  label="Foo"
  data={ name: "foo" }
  checked=state.checked
  onToggle("handleCheckboxToggle")/>
