class {
  displayMoreGifs(direction){
    if(direction === 'Prev'){
      this.emit("paginate", {direction: "left"})
    }
    if(direction === 'Next') {
      this.emit("paginate", {direction: "right"})
    }
  }
}

<button
  on-click("displayMoreGifs", input.direction)
  class="pagination"
>
  <if(input.direction === 'Prev')>
    <
  </if>
  <else>
    >
  </else>
</button>

style {
  .pagination {
    border-radius: 50%;
    height: 27px;
    width: 27px;
    margin-top: 30px;
    background-color: #f1f1f1;
    border-width: 3px;
  }
  .pagination:hover {
    border-style: solid;
    border-color: #00B4CC;
    border-width: 3px;
    cursor: pointer;
  }
}
