<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Marko | Custom Attributes</title>
    <style>
        .container {
            margin-left: auto;
            margin-right: auto;
            width: 800px;
        }
    </style>
  </head>
  <body>
    <sample-header title="Custom Attributes"/>
    <div class="container">
      <h2>
        <code>base64-src</code>
        attribute:
      </h2>
      <img base64-src="./marko-logo.png" width=150 height=125/>
      <h2><code>repeat()</code> attribute:</h2>
      <div repeat(5)>This DIV will be repeated 5 times</div>
    </div>
  </body>
</html>
