$ const { comment } = input;
<li.comment>
  <div.by>
    <a href=`/user/${comment.user}`>${comment.user}</a>
    ${` ${comment.time_ago}`}
  </div>
  <div.text>$!{comment.content}</div>
  <if(comment.comments.length)>
    <toggle>
      <for|nested| of=comment.comments>
        <comment comment=nested/>
      </for>
    </toggle>
  </if>
</li>
