style {
  img {
    padding-top: 20px;
  }
}

<div class="page navbar-fixed cached" data-page="about">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="center">
        <img src="./logo.png" alt="marko logo" width="70"/>
        <span>About</span>
      </div>
    </div>
  </div>
  <div class="page-content">
    <p>About Page</p>
    <a href="#home">Home</a>
  </div>
</div>
