class {
  updateSearch(event){
    this.emit('update-search-term', {searchTerm: event.target.value})
  }
}

style {
  .searchBox {
    height: 30px;
    width: 100%;
    font: system-ui;
    font-size: 20px;
    padding-left: 5px;
  }
}

<input
  class="searchBox"
  type="text"
  name="inputValue"
  placeholder="Search GIPHY as you type!"
  on-input("updateSearch")
/>
