.app-button.app-checkbox {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-fg);
}

.app-button.app-checkbox.checked {
  background-color: var(--button-bg);
  color: var(--button-fg);
}

.app-checkbox-icon {
  background-image: url(./images/unchecked.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: 0.2;
  margin-right: 4px;
}

.app-checkbox.checked .app-checkbox-icon {
  background-image: url(./images/checked.svg);
  opacity: 1;
}
