import store from '../store';

class {
    onMount() {
        store.subscribe(() => {
            this.forceUpdate();
        });
    }

    dispatch(type) {
        store.dispatch({ type: type });
    }
}

<div>
    <br />
    <counter(store.getState())
        on-increment('dispatch', 'INCREMENT')
        on-decrement('dispatch', 'DECREMENT') />
</div>