$ var personPromise = new Promise((resolve, reject) => {
    setTimeout(function() {
        resolve({
            name: "Frank"
        });
    }, 1000);
});
<await(personPromise) timeout=5000>
    <@placeholder>Loading...</@placeholder>
    <@then|person|>
        <div>Hello ${person.name}!</div>
    </@then>
    <@catch|err|>Error: ${err.message}</@catch>
</await>
