.app-progress-bar .progress-step {
  display: inline-block;
  height: 2em;
}

.app-progress-bar a.progress-step {
  display: inline-block;
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-fg);
  padding-left: 28px;
  padding-right: 8px;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  vertical-align: middle;
}

.app-progress-bar div.progress-step:first-child a.progress-step {
  padding-left: 8px;
}

.app-progress-bar .progress-step.active a.progress-step {
  background-color: var(--button-bg);
  color: var(--button-fg);
}

div.progress-step-end {
  display: inline-block;
  width: 20px;
  height: 2em;
  position: relative;
  font-size: 1em;
  line-height: 2em;
  vertical-align: middle;
  margin-right: -20px;
}

svg.progress-step-end {
  display: inline-block;
  width: 100%;
  height: 100%;
}

polygon.progress-step-end {
  fill: var(--button-secondary-bg);
}

.app-progress-bar .progress-step.active polygon.progress-step-end {
  fill: var(--button-bg);
}
