<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Marko | Koa + i18n</title>
    <style>
        .container {
            margin-left: auto;
            margin-right: auto;
            width: 800px;
        }
    </style>
  </head>
  <body>
    <sample-header title="Marko + Koa + i18n"/>
    <div class="container">
      <app-hello name="Frank"/>
      <ul>
        <li>
          <a href="/">English</a>
        </li>
        <li>
          <a href="/?locale=es">Spanish</a>
        </li>
      </ul>
    </div>
    <browser-refresh/>
  </body>
</html>
