<app-markdown>
  ---

  > This section demonstrates Markdown in Marko

  ## Marko Features

  - High performance
  - Small
  - Intuitive

  # H1
  ## H2
  ### H3
  #### H4
  ##### H5
  ###### H6

  [markojs.com](http://markojs.com/)

  _emphasis_
  __strong__

  ---
</app-markdown>
