.app-fetch-data .loading {
  background-image: url("./loading.svg");
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: middle;
}

.app-fetch-data .table-container {
  max-height: 400px;
  overflow: auto;
}
