$ const colors = ["red", "green", "blue"];
<div>
    <for|color, i| of=colors>
        <span style={
            color: color
        }>${color}</span>
        <if(i !== colors.length - 1)>,</if>
    </for>
</div>
