$ const colors = ["red", "green", "blue"];
<ul>
    <for|color, i| of=colors>
        <li>
            ${i + 1}) ${color}<if(i === 0)>- FIRST</if>
            <if(i === colors.length - 1)>- LAST</if>
        </li>
    </for>
</ul>
