<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Marko | Marko + Rollup</title>
    </head>
    <body>
        <sample-header title="Marko + Rollup"/>
        <app/>
        <script src="/static/bundle.js"></script>
    </body>
</html>