body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  padding: 0;
  margin: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

form,
img {
  margin: 0;
  padding: 0;
}

img {
  border-width: 0;
}

textarea,
input {
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select {
  margin: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td {
  padding: 0;
  margin: 0;
  border-width: 0;
}

pre {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin-top: 0;
  padding-top: 0.5em;
  margin-bottom: 0.2em;
}

h1 {
  font-size: 1.5em;
  color: #123851;
}

h1 a {
  color: #123851;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.0em;
}

label {
  display: block;
  font-size: 0.9em;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
  line-height: normal;
  border: 0;
}

a {
  color: #2980b9;
  text-decoration: none;
}

input[type=text] {
  border: 1px solid #c0c0c0;
}

.render-target {
  padding-top: 1em;
  padding-bottom: 1em;
}
