.app-button {
  font-size: 100%;
  border: 0;
  display: inline-block;
  border-radius: 50px;
  padding: 12px;
  background-color: #2980b9;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

.app-button:hover {
  background-color: #409ad5;
}

/* Variants */
.app-button-secondary {
  background-color: #999999;
  color: #ffffff;
}

.app-button-secondary:hover {
  background-color: #b3b3b3;
}

/* Sizes */
.app-button-small {
  font-size: 0.9em;
  padding-top: 6px;
  padding-bottom: 6px;
}

.app-button-large {
  font-size: 1.2em;
  font-weight: 100;
}
