style {
  img {
    padding-top: 20px;
  }
}

<div class="page navbar-fixed" data-page="home">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="center">
        <img src="./logo.png" alt="marko logo" width="70"/>
        <span>Home</span>
      </div>
    </div>
  </div>
  <div class="page-content">
    <p>Home Page</p>
    <a href="#about">About</a>
  </div>
</div>
