<style>
.footer {
    font-size: 2.5em;
    font-weight: 300;
    background-color: #f1f1f1;
    padding: 1em;
    text-align: center;
}
</style>

<p class="footer">Here is the footer, ${input.name}</p>
