<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Marko | Streaming Results</title>
  </head>
  <body>
    <sample-header title="Marko Streaming Results"/>
    <app-search-results/>
  </body>
</html>
