<section>
  <img src="./logo.svg" alt="Marko" class="logo">
  <h1>Marko App Starter</h1>
  <p>
    Edit <code>src/routes/+page.marko</code> and save to reload. Preconfigured
    with TypeScript, Vitest, and Storybook.
  </p>
  <char-count name="demo" max=140 placeholder="Try the example component…"/>
  <p><a href="https://markojs.com/docs/">Learn Marko</a></p>
</section>

<style>
  .logo {
    width: 8rem;
  }
</style>
